* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    position: absolute;
	width: 80vw;
	height: 80vh;
    top: 35vh;
    left: 50%;
    margin-left: -40vw;
    margin-top: -20vh;
}

main {
	position: relative;
	height: 65vh;
}

aside ul.social-links {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 25%;
}

article {
	position: absolute;
	width: 100%;
	top: 40%;
	transform: translateY(-40%);
	border-left: 3px solid black;
	border-right: 3px solid black;
}

article .quote-body {
	width: 70%;
	margin: auto;
}

article h1.quote-text {
	font-size: 3.3em;
	margin-bottom: 10vh;
}

article h2.quote-author {
	text-align: right;
}

main .get-quote,
footer .credit {
	text-align: center;
}

.stick-to-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}